body {
    background: burlywood;
}

.alert-warning {
    /*float: contour;*/
    clear: both;
    width: 850px;
    margin: 20px auto;
    text-align: center;
}
.title {
    text-align: center;
    background: aquamarine;
    color: black;
}

.post_body {
    width: 650px;
    margin: auto;
    color: black;
}